:root{
    --cor-1: #333;
    --cor-2: #0077ff;
    --cor-3: #819b99;
    --cor-4: #000000a0;
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: #545454;
    background-image: url("img/tile-bkg.png");
    background-repeat: repeat;
  }
  #main{
    width: 1200px;
    margin: auto;
    background-color: #ddd;
    box-shadow: 0 0 40px #000000a0;
  }
  header {
    background-color: var(--cor-1);
    color: #fff;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo h1 {
    margin: 0 30px;
    display: inline;
    position: absolute;
    top: 40px;

  }
  
  .logo img {
    margin: 0px 10px -20px 30px;
    width: 70px;
  }
  
  .links{
    position: relative;
    left: 1000px;
    bottom: 50px;
    z-index: 1;
  }

  .links img{
    width: 24px;
  }


  .banner {
    color: #fff;
    text-align: center;
    padding: 50px;
    height: 250px;
    box-shadow: 0 0 30px var(--cor-4) inset;
    position: relative;
    overflow: hidden;
  }

  .banner video {
    position: absolute;
    width: 1210px;
    right: -5px;
    top: -280px;
    background-color: #3c5253;

  }
.banner h1{
  position:absolute;
  z-index: 1;
  background-color: #00000050;
  padding: 20px;
  width: 700px;
  text-align: left;
}
.banner p{
  position:absolute;
  z-index: 1;
  top: 100px;
  text-align: left;
  background-color: #00000050;
  margin-top: 39px;
  padding: 20px;
  width: 700px;
}

  video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;

}

  .card-container {
    display: flex;
    height: 350px;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #444;
  }
  
  .card {
    text-align: center;
    padding: 20px;
    background-color: var(--cor-3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    color: #00000090;
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
    width: 200px;
  }
  
  .text-area {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    text-align: justify;
  }

  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

/*------------------- responsivo -------------------------*/

  @media (max-width:768px) {

    #main{
        width: 100%;
    }

    .logo h1 {
      margin: 0;
      display: inline;
      position: absolute;
      top: 40px;
    }

    .links{
      display: none;
    }

    .banner {
      padding: 10px;
      height: 340px;

    }

    .banner h1{
      width: 330px;
      text-align: left;
      margin: 0;
    }

    .banner p{
      margin-top: 37px;
      width: 330px;
    }

    .card img {
      width: 70px;
    }

    .card {
      padding: 10px;
    }

    .card-container {
      height: 250px;
    }

    .text-area {
        display: block;
        margin: 20px 0;
        flex-wrap:wrap;
      }
      .column {
        flex-grow: 2;
        padding: 10px;
      }
      .search input {
        padding: 5px 15px;
        width: 100px;
        margin-right: 10px;
      }
  }
