*{
  margin:0;
  padding: 0;
  border: 0;
}
body{
  background-color: #ddd;
  background-image: url(darkwood.jpg);
  color: #403222;
    font-family: serif;
    font-size: 17px;
}

h1{
  padding: 4px;
  text-align: center;
  color:#403222;
  font-family: sans-serif;
    font-weight: lighter;
  font-size: 30px;
}

h2{
  font-family: serif;
    font-weight: bold;
  color: #403222;
  font-size: 26px;
  text-align: center;
    margin: 10px;
}

a{
  text-decoration: none;
    color: #523311;
}
hr{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 700px;
    height: 2px;
    background-color: #403222;
}

#topspace{
    width: 100%;
    height: 30px;
}

div.principal{
    margin: auto;
    background-color: #f2ebc7;
    width: 800px;
    height: 1050px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
    margin-bottom: 40px;
    margin-top: 20px;
}

img.redondo{
    margin: auto;
    border-radius: 100%;
    width:130px;
    height:130px;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);
}

#dados{
    float: left;
    display: block;
    
        
}

#rodape{
    background-image: url(rodape.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    margin-top: 0px;
}
#eu{
    margin-top: -20px;
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Safari */
    transform: rotate(2deg);
    margin-left: -150px;
    display: inline;
}

 #pagina{
     position:relative;
     left:0;
     right:0;
     top: 0;
     margin-left:auto;
     margin-right:auto;
     z-index: 10;
}
#backpage1{
     position:absolute;
     left:0;
     right:0;
     top: 5px;
     margin-left:auto;
     margin-right:auto;
     z-index: 1;
    -ms-transform: rotate(0.5deg); /* IE 9 */
    -webkit-transform: rotate(0.5deg); /* Safari */
    transform: rotate(0.5deg);
}
#backpage2{
     position:absolute;
     left:0;
     right:0;
     top: 9px;
     margin-left:auto;
     margin-right:auto;
     z-index: 0;
    -ms-transform: rotate(0.7deg); /* IE 9 */
    -webkit-transform: rotate(0.7deg); /* Safari */
    transform: rotate(0.7deg);
}
/*conteúdo da div principal*/
div.conteudo{
    display: block;
}
#inicio1{
    background-image: url(titulo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 645px;
    height: 200px;
    margin-left: 150px;
}
#inicio2{

    width: 800px;
    height: 200px;
    text-align: center;
}
#meio1{
    width: 720px;
    margin: 40px;
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2;    /* Firefox */
    column-count:2;         /* padrão */
    text-align: justify;
}

#meio2{
    
}
#fim{
    margin-top: 130px;
    text-align: center;
    font-size: 12px;
}


table{
    width: 400px;
    margin: auto;
    align-content: center;
    text-align: center;
}
