*{
  margin:0;
  padding: 0;
  border: 0;
}
body{
  background-color: #ddd;
  background-image: url(bkg.png);
}

h1{
  padding: 8px;
  text-align: center;
  color:#bbb;
  font-family: sans-serif;
    font-weight: lighter;
  font-size: 30px;
}
h2{
  font-family: sans-serif;
  color: #eee;
  font-weight: lighter;
  font-size: 60px;
  margin: -30px;
  margin-left: -13px
}
a{
  text-decoration: none;
}

#topspace{
  width: 100%;
  height: 30px;
}
#animacao1{
  margin: auto;
  border-radius: 2%;
  background-color: #eee;
  width: 800px;
  height: 500px;
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.2);
}
#buttom{
  margin-left:30px;
  padding: 25px;
  float: left;
  display: block;
  border-radius: 100%;
  background-color: #e32;
  width: 10px;
  height: 10px;
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.2);
}

/*conteúdo da div principal*/
.conteudo{

}
#inicio{

}
#meio{

}

#fim{

}
